/*estilo*/

	body,h3{
		margin: 0;
		padding: 0;
	}
	*{

		box-sizing: border-box;
	}
	.content{
		text-align: center;
	}
	footer{
		bottom: 0;
		position: absolute;
		width: 100%;
	}

	footer h4{

		text-align: center;
	}
	.quadrado{
		text-align: center;
		padding: 5px;
		max-width: 300px;
		margin:0 auto;
		margin-top: 5vh;
		border-radius: 20px;
	}
	input{
		margin-top: 2vh;
	}
